# Build output
/build/
/CMakeFiles/
/Makefile
/CMakeCache.txt
/*.cmake
/*.o
/*.out
/*.exe

# Data files
/data/*.tbl

# IDE and OS-specific
*.DS_Store
*.swp
*.swo
*.log
*.tmp
.vscode/
.idea/

# Test binaries
/tests/test_minidb